svg {
    outline: none;
}

.sprotty-graph.selected {
    border: none;
}

.sprotty-infoBlock {
    color: black; 
}

.sprotty-node {
    stroke-width: 1;
    fill: rgb(219,218,235);
    stroke: rgb(27, 27, 27);
}

.sprotty-edge.inheritance {
    stroke-width: 3;
    stroke:rgb(255, 255, 255);
}

.comp-separator {
    stroke-width: 1;
    stroke: black;
}

.relationship > .sprotty-node {
    fill: white;
}

.relationship {
    font-size: 16px;
}

.weak > .sprotty-node {
    border-style: ridge;
    stroke: black;
    stroke-width: 8;
}

.weak-relationship > .sprotty-node {
    fill: white;
    stroke: black;
    border-style: ridge;
    stroke-width: 8;
}

.sprotty-node.diamond-node {
    fill: rgb(255, 255, 255);
}

.right.sprotty-label {
    fill: white;
}

.top.sprotty-label {
    fill: white;
}

.sprotty-node.selected {
    stroke-width: 5;
    stroke: yellow;
}

.sprotty-node.mouseover:not(.selected) {
    stroke-width: 3;
    stroke: orange;
}

.header {
    font-size: 18px;
    font-weight: bold;
}

.sprotty-comp {
    line-height: 3px;
    font-weight: normal;
    text-align: left;
}

.text-key {
    stroke-width: 0;
    stroke: #000;
    fill: #000;
    font-family: sans-serif;
    font-size: 8pt;
    font-weight: bold;
    text-decoration: underline;
}

.text-null {
    stroke-width: 0;
    stroke: rgb(124, 124, 124);;
    fill: rgb(124, 124, 124);
    font-family: sans-serif;
    font-size: 8pt;
}

.text-pk {
    stroke-width: 0;
    fill: #000;
    text-decoration: underline;
}

.text-fk {
    stroke-width: 0;
    fill: #000;
    text-decoration: underline;
}

text {
    stroke-width: 0;
    stroke: #000;
    fill: #000;
    font-family: sans-serif;
    font-size: 8pt;
}

.sprotty-edge {
    fill: none;
    stroke: var(--vscode-editorActiveLineNumber-foreground);
    stroke-width: 4;
}

.sprotty-edge.mouseover:not(.selected) {
    stroke-width: 7;
}

.sprotty-edge.selected {
    stroke: yellow;
    stroke-width: 6;
}

.sprotty-button {
    fill: var(--vscode-editorActiveLineNumber-foreground);
    cursor: pointer;
}

.sprotty-button.mouseover:not(.selected) {
    fill: var(--vscode-editor-symbolHighlightBackground);
    stroke-width: 5;
}


.sprotty-edge-arrow {
    fill:var(--vscode-editorActiveLineNumber-foreground);
}

.sprotty-edge > .sprotty-routing-handle.mouseover {
    stroke: var(--vscode-editor-symbolHighlightBackground);
    stroke-width: 3;
}

.sprotty-edge > .sprotty-routing-handle {
    fill: var(--vscode-editor-selectionBackground);
    stroke: none;
    z-index: 1000;
}

.sprotty-edge > .sprotty-routing-handle[data-kind='line'] {
    opacity: 0.35;
}

.sprotty-edge > .sprotty-routing-handle.selected {
    fill: var(--vscode-editor-selectionHighlightBackground);
}

.palette-button {
    color: black;
}

.sprotty-status {
    position: absolute;
    bottom: 10px;
	left: 20px;
    display: flex;
	font-size: 18px;
	z-index: 1;
    align-items: center;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.sprotty-status .fatal {
	color: orangered;
}

.sprotty-status .error {
    color: orangered;
}


.sprotty-status-message.fatal {
	background-color: white;
	border: 1px solid black;
	padding: 10px;
	margin-left: 15px;
}

.sprotty-status-message.error {
	background-color: white;
	border: 1px solid black;
	padding: 10px;
	margin-left: 15px;
}

.sprotty-hidden {
    width: 0px;
    height: 0px;
}


