#toolbar-options {
    display: none;
	flex-direction: column;
    width: 140px;
    background: #252526;
    padding-bottom: 5px;
    box-shadow: 8px 1px 8px black;
}

#biger-toolbar{
    position: absolute;
    top: 0px;
    right: 0px;
    display: flex;
    flex-direction: row;
}

#toolbar-button {
    background: #094771;
    height: 27px;
    --border-width: 0;
}

#toolbar-button span{
    margin-top: 5px;
}

#dropDown-erNotations{
    background: #252526;
    --dropdown-border: none;
    --dropdown-background: #252526;
    padding-left: 10px;
}

#dropDown-erNotations:hover{
    background: #094771;
}

.divider{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    width: 120px;
}

.button {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    --border-width: 0;
}

.option{
    --border-width: 0;
}