#toolbar-options {
    display: none;
	flex-direction: column;
    width: fit-content;
    height: fit-content;
}

#biger-toolbar{
    position: absolute;
    top: 0px;
    right: 0px;
    display: flex;
    flex-direction: row;
}

#help-button,
#toolbar-button,
#dropDown-erNotations {
    height: 35px;
}

#toolbar-button span,
#add-entity-button span,
#add-relationship-button span{
    margin-top: 5px;
}

#dropDown-erNotations{
    width: 122px;
    background: #3a3d41;
}

#dropDown-erNotations:hover{
    background: #45494e;
}

.start {
    display: unset !important;
}