#toolbar-options {
    display: none;
	flex-direction: column;
    width: 140px;
    background: var(--vscode-menu-background);
    padding-bottom: 5px;
    box-shadow: 6px -4px 8px 0px black;
}

#biger-toolbar{
    position: absolute;
    top: 0px;
    right: 0px;
    display: flex;
    flex-direction: row;
}

#toolbar-button {
    background: var(--vscode-menu-selectionBackground);
    height: 27px;
    --border-width: 0;
}

#toolbar-button span{
    margin-top: 5px;
}

#dropDown-erNotations{
    background: var(--vscode-menu-background);
    --dropdown-border: none;
    --dropdown-background: var(--vscode-menu-background);
    padding-left: 10px;
}

#dropDown-erNotations:hover{
    background: var(--vscode-menu-selectionBackground);
}

.divider{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    width: 120px;
}

.button {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    --border-width: 0;
}

.option{
    --border-width: 0;
}

#help-button{
    width:140px;
}

#button-icon{
    margin-right: 5px;
}