{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "project": "tsconfig.json",
        "sourceType": "module"
    },
    "plugins": [
      "@typescript-eslint"
    ],
    "extends": [
      "eslint:recommended",
      "plugin:@typescript-eslint/eslint-recommended",
      "plugin:@typescript-eslint/recommended"
    ],
    "ignorePatterns": ["test.erd"],
    "rules": {
      "@typescript-eslint/no-namespace": "off",
      "brace-style": [ "warn", "1tbs", { "allowSingleLine": true }],
      "keyword-spacing": "warn",
      "semi": "off",
      "@typescript-eslint/semi": ["error"],
      "@typescript-eslint/no-unused-vars": ["error", { "args": "none" }],
      "template-curly-spacing": ["error", "never"],
      "switch-colon-spacing": ["error", {"after": true, "before": false}],
      "space-unary-ops": ["error", {"words": true, "nonwords": false}],
      "space-infix-ops": ["error", { "int32Hint": false }],
      "no-array-constructor": "error",
      "space-before-blocks": "error",
      "new-cap": ["error", { "capIsNew": true }],
      "no-trailing-spaces": "error",
      "key-spacing": ["error", { "beforeColon": false, "afterColon": true }],
      "func-call-spacing": ["error", "never"],
      "comma-spacing": ["error", { "before": false, "after": true }],
      "block-spacing": "error",
      "array-bracket-spacing": ["error", "never"],
      "space-in-parens": ["error", "never"],
      "spaced-comment": ["error", "always"],
      "no-mixed-operators": "error",
      "no-case-declarations": "error",
      "operator-linebreak": ["error", "after"],
      "no-multi-assign": "error",
      "no-dupe-class-members": "error",
      "function-paren-newline": ["error", "multiline"],
      "@typescript-eslint/no-explicit-any": "off",
      "no-duplicate-imports": "error",
      "no-alert": "error",
      "no-console": ["warn", { "allow": ["warn", "error"] }],
      "jsx-quotes": ["error", "prefer-double"],
      "no-whitespace-before-property": "error",
      "no-multiple-empty-lines": ["error", { "max": 2, "maxEOF": 0 }],
      "no-multi-spaces": "error"
    }
  }