lib
out
bin
pack
target
.metadata
*.vsix

build/
bin/
xtext-gen/
xtend-gen/
.gradle/
.project
org.eclipse.buildship.core.prefs
.classpath
/.metadata/
src-gen/
lib
dist


# macOS
.DS_Store

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Modules
node_modules/
package-lock.json
yarn.lock
.yarn-integrity
