lib
out
bin
pack
target
/.metadata/
*.vsix

/src-gen/*
!./University.sql

# macOS
.DS_Store

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Modules
node_modules/
package-lock.json
yarn.lock
.yarn-integrity
